<% var accountLvl = 0; %>
<% var accountLvl = (user.accountType == 'owner') ? 0 : (user.accountType == 'admin') ? 1 : (user.accountType == 'developer') ? 2 : (user.accountType == 'mod') ? 3 : (user.accountType == 'tester') ? 4 : (user.accountType == 't-sub/yt-member') ? 5 : (user.accountType == 't-follower/yt-sub') ? 6 : (user.accountType == 'five-year-member') ? 7 : (user.accountType == 'one-year-member') ? 8 : (user.accountType == 'normal') ? 9 : 10; %>
<% if (accountLvl <= 1 || user.projectAccess == "all:admin") { %>
<a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/register_project">Add</a>
<a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/sync_access">Synchronize Permissions</a>
<% } %>

<a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" href="/activate_license">Activate License</a>