<html>

<head>
    <title><%= title %></title>
    <meta name="twitter:image" content="/img/image0005%20-%20Kopie.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta property="og:image" content="/img/image0005%20-%20Kopie.png">
    <meta property="og:type" content="website">
    <meta name="description" content="Software, Games &amp; More">
    <meta name="twitter:title" content="BlaXrew Studios">
    <meta name="twitter:description" content="Software, Games &amp; More">
</head>

<body>
    <%- body %>
</body>

</html>